# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
node_modules/
frontend/node_modules/

# Downloads
downloads/
*.mp4
*.mkv
*.webm
*.mp3

# Sensível
.env
.env.local
cookies.txt
config/.env
config/cookies/*
!config/cookies/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Binaries locais
bin/ffmpeg
bin/ffprobe
bin/ffmpeg.exe
bin/ffprobe.exe
